/* Shared */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #365c36;
  padding: 10px 0;
  box-sizing: unset;
}

.nav__list {
  display: flex;
  list-style-type: none;
  z-index: 1;
}
.nav__link {
  display: inline-block;
  color: white;
  padding: 5px 0;
  margin: 0 10px;
  border: 3px solid transparent;
  text-transform: uppercase;
  transition: 0.2s;
  text-decoration: none;
}
header nav ul li a:hover,
header nav ul li a.active {
  border-bottom-color: antiquewhite;
}

.nav {
  z-index: 1;
}
/* dropdown */
.dropdown {
  cursor: pointer;
  display: none;
}
.dropdown div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: rgb(243, 248, 239);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Shared - end */

/* header */
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}

.header__box--logo {
  position: relative;
  height: inherit;
  aspect-ratio: 3 / 1;
}

.logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* header - end */

/* main */
.main {
  background: #fff;
}

.about-us__row {
  display: flex;
}

.about-us__box {
  width: 50%;
  display: flex;
  align-items: center;
}

.about-us__box--img {
}

.about-us__box--text {
  padding: 15px;
}

.about-us__img {
  width: 100%;
}

.about-us__text {
  color: #000;
  line-height: 1.6;
  font-size: 18px;
}
/* main - end */

/* Footer */
/* Footer - end */

/* !начало */

.container_box {
  display: flex;
  align-items: center;
}
.container_box .container_text {
  width: 100%; /* Занимает всю доступную ширину */
  /* Добавляем немного отступов для текста */
}
.container_box .container_foto {
}

.img {
  max-width: 100%;
}
@media only screen and (max-width: 1000px) {
  header {
    padding: 0 30px;
  }
  header nav ul li a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 830px) {
  .about-us__row {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .about-us__row::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: url("/icons/sep1.png");
    background-repeat: repeat-x;
    background-size: contain;
  }

  .about-us__row:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .about-us__row:last-child::after {
    content: none;
  }

  .about-us__box--img {
    order: 1;
  }

  .about-us__box--text {
    order: 2;
  }

  .about-us__box {
    width: 100%;
  }

  .header {
    height: 30px;
  }

  .dropdown {
    display: block;
  }
  .nav {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 100%;
    width: 100%;
    background: rgb(54, 92, 54);
    padding: 30px;
    transition: 0.3s;
  }
  header #nav_check:checked ~ nav {
    left: 0;
  }
  .nav__list {
    display: block;
  }
  .nav__link {
    margin: 5px 0;
  }
}
